html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.table-trait {
  display: flex;
  width: 1000px;
  justify-content: space-between;
}

@media (max-width: 1248px) {
  .table-trait {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
