.modal {
  position: absolute;
  background-color: rgb(44, 44, 44);
  border-radius: 5px;
  padding: 1rem;
  color: white;
  left: -7.5rem;
  top: 100%;
  z-index: 999;
  width: 20rem;
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(209, 209, 209);
    margin-bottom: 0.5rem;
  }

  .desc {
    font-family: "Jua", sans-serif;
  }

  .content {
    display: flex;
    width: 6rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    img {
      width: 2rem;
      height: 2rem;
    }

    div {
      font-weight: bold;
      color: tomato;
    }
  }
}

@media (max-width: 650px) {
  .modal {
    width: 10rem;
    left: -4rem;
    font-size: 0.7rem;

    .title {
      font-size: 1rem;
    }

    .content {
      width: 3rem;

      img {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
