.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: tomato;
  padding: 2%;

  .logo {
    display: flex;
    flex-direction: column;

    .mainLogo {
      font-size: 2rem;
      font-weight: bold;
    }

    .subLogo {
      color: rgb(49, 49, 49);
    }
  }

  .season {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
