.container {
  height: 400px;
  overflow: scroll;
}

.trait {
  display: flex;
  background-size: 100% 100%;
  font-weight: bold;
  border-radius: 10px;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  flex-direction: column;
  width: 9rem;
  color: grey;

  .main {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: black;

    div:first-child {
      display: flex;
      align-items: center;
    }

    .traitback {
      background-image: url("https://3.34.197.199:8080/images/color/dark.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
      display: flex;
      justify-content: center;

      img {
        width: 1rem;
      }
    }
  }

  .sub {
    font-size: 0.8rem;
  }
}

@media (max-width: 1248px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
  }

  .trait {
    margin: 0.5rem;
    font-size: 0.5rem;
    padding: 0.5rem;
    width: 7.5rem;

    .main {
      font-size: 0.7rem;
      width: 90%;

      .traitback {
        width: 1.5rem;
        height: 1.5rem;

        img {
          width: 0.7rem;
        }
      }
    }

    .sub {
      font-size: 0.6rem;
    }
  }
}

@media (max-width: 650px) {
  .container {
    width: 80%;
    height: auto;
  }

  .trait {
    margin: 0.5rem;
    font-size: 0.3rem;
    padding: 0.3rem;
    width: 7rem;

    .main {
      font-size: 0.3rem;
      width: 90%;

      .traitback {
        width: 1.2rem;

        img {
          width: 0.5rem;
        }
      }
    }

    .sub {
      font-size: 0.6rem;
    }
  }
}
