.container {
  width: 150px;
  height: 400px;
  overflow: scroll;
}

.trait {
  display: flex;
  background-color: gray;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  height: 2rem;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

@media (max-width: 1248px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
  }

  .trait {
    margin: 0.5rem;
    font-size: 0.5rem;
    padding: 0 0.5rem;
  }
}
